/**
 * Accordions
 */
.gb-accordion {
	clear: both;
}

.gb-accordion-trigger {
	background: #eee;
	margin: 0;
	padding: 10px 10px 10px 15px;
}

.gb-accordion-trigger:focus {
	outline: 0;
}

.gb-accordion-trigger::before {
	content: "\002B ";
	margin-right: 10px;
}

	.ui-accordion-header-active::before {
		content: "\002d ";
		margin-right: 15px;
	}

.gb-accordion-trigger:hover {
	cursor: pointer;
}

.gb-accordion-content {
	background: #f9f9f9;
	padding: 20px;
}


/**
 * Clear
 */

.clear {
	clear: both;
}

/**
 * Tabs
 */
.gb-tabs {
	margin: 40px 0 0 0;
}

.gb-tabs .tab-labels {
	clear: both;
	margin: 0;
}

	.gb-tabs .tab-labels li {
		display: inline-block;
		list-style: none;
	}

	.gb-tabs .tab-labels li a {
		background: #eee;
		border-bottom: none;
		color: #333;
		margin-right: 1px;
		padding: 10px 15px;
	}

		.gb-tabs .tab-labels .ui-tabs-active a {
			background: #f9f9f9;
		}

.gb-tabs .gb-tab-content {
	background: #f9f9f9;
	padding: 20px;
}


/**
 * Toggles
 */

.gb-toggle {
	clear: both;
}

.gb-toggle-trigger::before {
	content: "\002B ";
	margin-right: 10px;
}

	.gb-toggle-trigger.active::before {
		content: "\002d ";
		margin-right: 15px;
	}

.gb-toggle-trigger:hover {
	cursor: pointer;
}

.gb-toggle-content {
	display: none;
}