/**
 * Accordions
 */
.gb-accordion {
	clear: both;
}

.gb-accordion-trigger {
	background: #eee;
	margin: 0;
	padding: 10px 10px 10px 15px;
}

.gb-accordion-trigger:focus {
	outline: 0;
}

.gb-accordion-trigger::before {
	content: "\002B ";
	margin-right: 10px;
}

	.ui-accordion-header-active::before {
		content: "\002d ";
		margin-right: 15px;
	}

.gb-accordion-trigger:hover {
	cursor: pointer;
}

.gb-accordion-content {
	background: #f9f9f9;
	padding: 20px;
}


/**
 * Clear
 */

.clear {
	clear: both;
}

/**
 * Toggles
 */

.gb-toggle {
	clear: both;
}

.gb-toggle-trigger::before {
	content: "\002B ";
	margin-right: 10px;
}

	.gb-toggle-trigger.active::before {
		content: "\002d ";
		margin-right: 15px;
	}

.gb-toggle-trigger:hover {
	cursor: pointer;
}

.gb-toggle-content {
	display: none;
}